* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
}

img, 
svg, 
video {
  width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

p {
  font-size: 1rem;
}

main {
  min-height: 100vh;
  background: var(--pale-blue);
  align-items: center;
  justify-content: center;
}

.card {
  width: 27.5rem;
  height: 42.5rem;
  background: #fff;
  color: var(--dark-blue);
  border-radius: 20px;
  box-shadow: 0 10px 50px 0 rgba(56, 41, 224, 0.25);
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  overflow: hidden;
}

.card .card-hero {
  height: 30%;
}

.card .card-text {
  height: 70%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 3.5rem 3rem;
  gap: 1.5rem;
}

.card .card-text > h1 {
  font-size: 1.75rem;
  font-weight: var(--black-weight);
}

.card .card-text > p {
  color: var(--desaturated-blue);
}

.card .card-text #plan {
  width: 100%;
  padding: 1.5rem;
  background: var(--very-pale-blue);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.card .card-text #plan #plan-left {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card .card-text #plan #plan-left #plan-left-text {
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}

.card .card-text #plan #plan-left #plan-left-text #plan-name {
  font-weight: var(--black-weight);
}

.card .card-text #plan #plan-left #plan-left-text #plan-price {
  color: var(--desaturated-blue);
}

.card .card-text #plan #plan-right button {
  color: var(--bright-blue);
  font-weight: var(--black-weight);
  text-decoration: underline;
  transition: color 0.25s ease;
}

.card .card-text #plan #plan-right button:hover {
  color: hsl(245, 75%, 62%);
}

.card .card-text #plan #plan-right button:active {
  color: hsl(245, 75%, 42%);
  transition: none;
}

.card .card-text #payment-btn {
  box-shadow: 0 10px 50px 0 rgba(56, 41, 224, 0.25);
  transition: background 0.25s ease;
}

.card .card-text #payment-btn:hover {
  background: hsl(245, 75%, 62%);
}

.card .card-text #payment-btn:active {
  background: hsl(245, 75%, 42%);
  transition: none;
}

.card .card-text #cancel-btn {
  color: var(--desaturated-blue);
  transition: color 0.25s ease;
}

.card .card-text #cancel-btn:hover {
  color: var(--dark-blue);
}

.card .card-text #cancel-btn:active {
  color: hsl(223, 47%, 13%);
  transition: none;
}